<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Categorias</ion-title>
  </ion-toolbar>
  <!-- //<ion-button style="border-radius:60px ;" (click)="onClickE()" >+</ion-button> -->
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of lista" >
    <ion-item >
      <ion-label class="label">
        {{item.Descripcion}}
      </ion-label>
      <ion-label class="label">
        {{item.Id}}
      </ion-label>
      <ion-button (click)="onClickE(item.Id)" >Delete</ion-button>
      <ion-button  (click)="gotoE(item)" >Edit</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  >
      <ion-icon (click)="goto()"     name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
