.logoprincipal{
    max-width: 300px;
    margin: auto;
}
.colorlogin{
    color: #141414;
    
}

.centrado{
    text-align: center;
  }


ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

