<ion-header>
  <ion-toolbar>
    <ion-title>PUBLICAR ALQUILER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
   <!-- List of Text Items -->
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Cantidad de Habitaciones</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Permiten Mascotas</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Descripcion del lugar</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Ubicación GPS</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Observación</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Direción</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Precio</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating"> Garantia</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
  
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Referencia</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
  
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Categoria</ion-label>
        <ion-input class="inputG" type="email"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   


   <ion-grid>
     <ion-row>
   
       <ion-col size="12">
        <ion-button (click)="onClick()" expand="block" shape="round">
          <ion-icon name="add-outline"></ion-icon>
          CREA UN NUEVO ANUNCIO
        </ion-button>
       </ion-col>
     </ion-row>

     <ion-row>
      <ion-col size="12">
       <ion-button (click)="onClick()" expand="block"  shape="round">
        <ion-icon name="copy-outline"></ion-icon>
         DUPLICAR UN ANUNCIO EXISTENTE
       </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
       <ion-button  [routerLink]="['/categoria-list']" (click)="onClick()" expand="block"  shape="round">
        <ion-icon   name="add-outline"></ion-icon>
         AGREGAR CATEGORIA
        
       </ion-button>
      </ion-col>
    </ion-row>

   </ion-grid>
   <ion-item>
    <ion-card>
      <img src="https://www.cronista.com/files/image/308/308160/5ffe310c39ead.png" />
      <ion-card-header>
        <ion-card-subtitle>Destino Ideal</ion-card-subtitle>
        <ion-card-title>Casa Independiente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esta es una casa encantadora de estilo clasico especial para los dias de verano y las vacaciones de invierno. Ideal para pasarla con la familia o amigos.
      </ion-card-content>
    </ion-card>
  </ion-item>
  
  





</ion-content>
