<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="onClickBack()"></ion-back-button>
      </ion-buttons>
      <ion-title>Publicar alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <form [formGroup]=" frmAlquiler" (ngSubmit)="registrar()">
    <!-- <ion-input  formControlName="Descripcion" name="Descripcion" type ="text" placeholder="categoria"></ion-input >
     <ion-input  *ngIf="false" formControlName="Id" name="Id" type ="text" placeholder="Id"></ion-input >
   
   <ion-button type="submit">
     GUARDAR
     
   </ion-button> -->
   
  


   <!-- List of Text Items -->
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Cantidad de Habitaciones</ion-label>
        <ion-input  formControlName="CantidadHabitaciones"    class="text" type="numeric"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG"  >
        <ion-label color="light" position="floating">Acepta Mascotas</ion-label>
        <ion-checkbox (ionChange)="checkboxClick($event)" formControlName="Permite_Mascotas" class="text" value="false" ></ion-checkbox>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Descripcion del lugar</ion-label>
        <ion-input  formControlName="Descripcion" class="text" type="text"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Ubicación GPS</ion-label>
        <ion-input  formControlName="Ubicacion_GPS" class="text" type="text"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Observación</ion-label>
        <ion-input formControlName="Observacion" class="text" type="text"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Dirección</ion-label>
        <ion-input  formControlName="Direccion" class="text" type="text"  > </ion-input>   
      </ion-item> 
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Precio</ion-label>
        <ion-input formControlName="Precio" class="text" type="numeric"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating"> Garantia</ion-label>
        <ion-input formControlName="Garantia" class="text" type="numeric"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
  
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Referencia</ion-label>
        <ion-input  formControlName="Referencia" class="text" type="text"  > </ion-input>  
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
  
   <ion-row>
    <ion-col size="1"></ion-col>
  
     <ion-col size="10" >
      <ion-item class="colorlogin inputG">
        <ion-label color="light" position="floating">Categoria</ion-label>
        <ion-input formControlName="CategoriaId" class="text" type="numeric"  > </ion-input>
      </ion-item>
     </ion-col>
    <ion-col size="1"></ion-col>
   </ion-row>
   <ion-row>
   
    <ion-col size="12">
     <ion-button [routerLink]="['/publicar-list']"  type="submit" expand="block" shape="round">
       <ion-icon name="home-outline"></ion-icon>
       CREA UNA PUBLICACION
     </ion-button>
    </ion-col>
  </ion-row>
  </form>

   <ion-grid>


     <ion-row>
      <ion-col size="12">
       <ion-button [routerLink]="['/rol-list']" (click)="onClick()" expand="block"  shape="round">
        <ion-icon name="accessibility-outline"></ion-icon>
         AGREGAR ROLES
       </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
       <ion-button  [routerLink]="['/categoria-list']" (click)="onClick()" expand="block"  shape="round">
        <ion-icon   name="add-outline"></ion-icon>
         AGREGAR CATEGORIA
        
       </ion-button>
      </ion-col>
    </ion-row>

  

   </ion-grid>
   <ion-item>
    <ion-card>
      <img src="https://www.cronista.com/files/image/308/308160/5ffe310c39ead.png" />
      <ion-card-header>
        <ion-card-subtitle>Destino Ideal</ion-card-subtitle>
        <ion-card-title>Casa Independiente</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esta es una casa encantadora de estilo clasico especial para los dias de verano y las vacaciones de invierno. Ideal para pasarla con la familia o amigos.
      </ion-card-content>
    </ion-card>
  </ion-item>
  
  




  <input type="checkbox">
</ion-content>
