.my-custom-menu {
    --width: 250px;
  }
  .logoprincipal{
    max-width: 50px;
    margin: left;
  
    align-content:space-around;
}
  .colorsugerido{
      color:  #FFD237;
  }


    .probar {
        text-align: right;
    }

    .logoprincipal2{
        max-width: 500px;
        margin: auto;
      
    }